In [1]:
# Import dependencies
import numpy as np
import pandas as pd

In [2]:
# Test check original dataset column names to make sure all other csv datasets match
citibike_201306 = pd.read_csv("citibike-tripdata/201306-citibike-tripdata.csv")
citibike_201306.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577703 entries, 0 to 577702
Data columns (total 15 columns):
tripduration               577703 non-null int64
starttime                  577703 non-null object
stoptime                   577703 non-null object
start station id           577703 non-null int64
start station name         577703 non-null object
start station latitude     577703 non-null float64
start station longitude    577703 non-null float64
end station id             559644 non-null float64
end station name           559644 non-null object
end station latitude       559644 non-null float64
end station longitude      559644 non-null float64
bikeid                     577703 non-null int64
usertype                   577703 non-null object
birth year                 337382 non-null float64
gender                     577703 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 66.1+ MB

In [3]:
# Create an empty list to append all corrected DataFrames
fixed_list = []

In [4]:
# Check abnormal dataset column names to be altered to match original dataset columns
citibike_201610 = pd.read_csv("citibike-tripdata/201610-citibike-tripdata.csv")
citibike_201610.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573872 entries, 0 to 1573871
Data columns (total 15 columns):
Trip Duration              1573872 non-null int64
Start Time                 1573872 non-null object
Stop Time                  1573872 non-null object
Start Station ID           1573872 non-null int64
Start Station Name         1573872 non-null object
Start Station Latitude     1573872 non-null float64
Start Station Longitude    1573872 non-null float64
End Station ID             1573872 non-null int64
End Station Name           1573872 non-null object
End Station Latitude       1573872 non-null float64
End Station Longitude      1573872 non-null float64
Bike ID                    1573872 non-null int64
User Type                  1555923 non-null object
Birth Year                 1406424 non-null float64
Gender                     1573872 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 180.1+ MB

In [5]:
# Rename obvious abnormal column names
citibike_201610 = citibike_201610.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })
citibike_201610.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573872 entries, 0 to 1573871
Data columns (total 15 columns):
tripduration               1573872 non-null int64
starttime                  1573872 non-null object
stoptime                   1573872 non-null object
Start Station ID           1573872 non-null int64
Start Station Name         1573872 non-null object
Start Station Latitude     1573872 non-null float64
Start Station Longitude    1573872 non-null float64
End Station ID             1573872 non-null int64
End Station Name           1573872 non-null object
End Station Latitude       1573872 non-null float64
End Station Longitude      1573872 non-null float64
bikeid                     1573872 non-null int64
usertype                   1555923 non-null object
Birth Year                 1406424 non-null float64
Gender                     1573872 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 180.1+ MB

In [6]:
# citibike_201610["Birth Year"].dropna(inplace=True)
citibike_201610["Birth Year"] = citibike_201610["Birth Year"].fillna(0)
citibike_201610["Birth Year"] = citibike_201610["Birth Year"].astype(int).astype(str)
citibike_201610["Birth Year"] =citibike_201610["Birth Year"].replace('0', np.nan)
citibike_201610.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573872 entries, 0 to 1573871
Data columns (total 15 columns):
tripduration               1573872 non-null int64
starttime                  1573872 non-null object
stoptime                   1573872 non-null object
Start Station ID           1573872 non-null int64
Start Station Name         1573872 non-null object
Start Station Latitude     1573872 non-null float64
Start Station Longitude    1573872 non-null float64
End Station ID             1573872 non-null int64
End Station Name           1573872 non-null object
End Station Latitude       1573872 non-null float64
End Station Longitude      1573872 non-null float64
bikeid                     1573872 non-null int64
usertype                   1555923 non-null object
Birth Year                 1406424 non-null object
Gender                     1573872 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 180.1+ MB

In [7]:
# Lower-case all column names to match original dataset
citibike_201610.columns = citibike_201610.columns.str.lower()
citibike_201610.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201610)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573872 entries, 0 to 1573871
Data columns (total 15 columns):
tripduration               1573872 non-null int64
starttime                  1573872 non-null object
stoptime                   1573872 non-null object
start station id           1573872 non-null int64
start station name         1573872 non-null object
start station latitude     1573872 non-null float64
start station longitude    1573872 non-null float64
end station id             1573872 non-null int64
end station name           1573872 non-null object
end station latitude       1573872 non-null float64
end station longitude      1573872 non-null float64
bikeid                     1573872 non-null int64
usertype                   1555923 non-null object
birth year                 1406424 non-null object
gender                     1573872 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 180.1+ MB

In [8]:
# Repeat column name changes for citbike datasets from 201611 to 201703
citibike_201611 = pd.read_csv("citibike-tripdata/201611-citibike-tripdata.csv")
citibike_201611.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196942 entries, 0 to 1196941
Data columns (total 15 columns):
Trip Duration              1196942 non-null int64
Start Time                 1196942 non-null object
Stop Time                  1196942 non-null object
Start Station ID           1196942 non-null int64
Start Station Name         1196942 non-null object
Start Station Latitude     1196942 non-null float64
Start Station Longitude    1196942 non-null float64
End Station ID             1196942 non-null int64
End Station Name           1196942 non-null object
End Station Latitude       1196942 non-null float64
End Station Longitude      1196942 non-null float64
Bike ID                    1196942 non-null int64
User Type                  1184408 non-null object
Birth Year                 1100576 non-null float64
Gender                     1196942 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 137.0+ MB

In [9]:
citibike_201611 = citibike_201611.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })

citibike_201611["Birth Year"] = citibike_201611["Birth Year"].fillna(0)
citibike_201611["Birth Year"] = citibike_201611["Birth Year"].astype(int).astype(str)
citibike_201611["Birth Year"] =citibike_201611["Birth Year"].replace('0', np.nan)
citibike_201611.columns = citibike_201610.columns.str.lower()

citibike_201611.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201611)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196942 entries, 0 to 1196941
Data columns (total 15 columns):
tripduration               1196942 non-null int64
starttime                  1196942 non-null object
stoptime                   1196942 non-null object
start station id           1196942 non-null int64
start station name         1196942 non-null object
start station latitude     1196942 non-null float64
start station longitude    1196942 non-null float64
end station id             1196942 non-null int64
end station name           1196942 non-null object
end station latitude       1196942 non-null float64
end station longitude      1196942 non-null float64
bikeid                     1196942 non-null int64
usertype                   1184408 non-null object
birth year                 1100576 non-null object
gender                     1196942 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 137.0+ MB

In [10]:
citibike_201612 = pd.read_csv("citibike-tripdata/201612-citibike-tripdata.csv")
citibike_201612.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812192 entries, 0 to 812191
Data columns (total 15 columns):
Trip Duration              812192 non-null int64
Start Time                 812192 non-null object
Stop Time                  812192 non-null object
Start Station ID           812192 non-null int64
Start Station Name         812192 non-null object
Start Station Latitude     812192 non-null float64
Start Station Longitude    812192 non-null float64
End Station ID             812192 non-null int64
End Station Name           812192 non-null object
End Station Latitude       812192 non-null float64
End Station Longitude      812192 non-null float64
Bike ID                    812192 non-null int64
User Type                  806804 non-null object
Birth Year                 772488 non-null float64
Gender                     812192 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 92.9+ MB

In [11]:
citibike_201612 = citibike_201612.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })

citibike_201612["Birth Year"] = citibike_201612["Birth Year"].fillna(0)
citibike_201612["Birth Year"] = citibike_201612["Birth Year"].astype(int).astype(str)
citibike_201612["Birth Year"] =citibike_201612["Birth Year"].replace('0', np.nan)
citibike_201612.columns = citibike_201612.columns.str.lower()
citibike_201612.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201612)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812192 entries, 0 to 812191
Data columns (total 15 columns):
tripduration               812192 non-null int64
starttime                  812192 non-null object
stoptime                   812192 non-null object
start station id           812192 non-null int64
start station name         812192 non-null object
start station latitude     812192 non-null float64
start station longitude    812192 non-null float64
end station id             812192 non-null int64
end station name           812192 non-null object
end station latitude       812192 non-null float64
end station longitude      812192 non-null float64
bikeid                     812192 non-null int64
usertype                   806804 non-null object
birth year                 772488 non-null object
gender                     812192 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 92.9+ MB

In [12]:
citibike_201701 = pd.read_csv("citibike-tripdata/201701-citibike-tripdata.csv")
citibike_201701.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726676 entries, 0 to 726675
Data columns (total 15 columns):
Trip Duration              726676 non-null int64
Start Time                 726676 non-null object
Stop Time                  726676 non-null object
Start Station ID           726676 non-null int64
Start Station Name         726676 non-null object
Start Station Latitude     726676 non-null float64
Start Station Longitude    726676 non-null float64
End Station ID             726676 non-null int64
End Station Name           726676 non-null object
End Station Latitude       726676 non-null float64
End Station Longitude      726676 non-null float64
Bike ID                    726676 non-null int64
User Type                  723483 non-null object
Birth Year                 697600 non-null float64
Gender                     726676 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 83.2+ MB

In [13]:
citibike_201701 = citibike_201701.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })

citibike_201701["Birth Year"] = citibike_201701["Birth Year"].fillna(0)
citibike_201701["Birth Year"] = citibike_201701["Birth Year"].astype(int).astype(str)
citibike_201701["Birth Year"] =citibike_201701["Birth Year"].replace('0', np.nan)
citibike_201701.columns = citibike_201701.columns.str.lower()
citibike_201701.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201701)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726676 entries, 0 to 726675
Data columns (total 15 columns):
tripduration               726676 non-null int64
starttime                  726676 non-null object
stoptime                   726676 non-null object
start station id           726676 non-null int64
start station name         726676 non-null object
start station latitude     726676 non-null float64
start station longitude    726676 non-null float64
end station id             726676 non-null int64
end station name           726676 non-null object
end station latitude       726676 non-null float64
end station longitude      726676 non-null float64
bikeid                     726676 non-null int64
usertype                   723483 non-null object
birth year                 697600 non-null object
gender                     726676 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 83.2+ MB

In [14]:
citibike_201702 = pd.read_csv("citibike-tripdata/201702-citibike-tripdata.csv")
citibike_201702.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791647 entries, 0 to 791646
Data columns (total 15 columns):
Trip Duration              791647 non-null int64
Start Time                 791647 non-null object
Stop Time                  791647 non-null object
Start Station ID           791647 non-null int64
Start Station Name         791647 non-null object
Start Station Latitude     791647 non-null float64
Start Station Longitude    791647 non-null float64
End Station ID             791647 non-null int64
End Station Name           791647 non-null object
End Station Latitude       791647 non-null float64
End Station Longitude      791647 non-null float64
Bike ID                    791647 non-null int64
User Type                  784067 non-null object
Birth Year                 742324 non-null float64
Gender                     791647 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 90.6+ MB

In [15]:
citibike_201702 = citibike_201702.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })

citibike_201702["Birth Year"] = citibike_201702["Birth Year"].fillna(0)
citibike_201702["Birth Year"] = citibike_201702["Birth Year"].astype(int).astype(str)
citibike_201702["Birth Year"] =citibike_201702["Birth Year"].replace('0', np.nan)
citibike_201702.columns = citibike_201702.columns.str.lower()
citibike_201702.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201702)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791647 entries, 0 to 791646
Data columns (total 15 columns):
tripduration               791647 non-null int64
starttime                  791647 non-null object
stoptime                   791647 non-null object
start station id           791647 non-null int64
start station name         791647 non-null object
start station latitude     791647 non-null float64
start station longitude    791647 non-null float64
end station id             791647 non-null int64
end station name           791647 non-null object
end station latitude       791647 non-null float64
end station longitude      791647 non-null float64
bikeid                     791647 non-null int64
usertype                   784067 non-null object
birth year                 742324 non-null object
gender                     791647 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 90.6+ MB

In [16]:
citibike_201703 = pd.read_csv("citibike-tripdata/201703-citibike-tripdata.csv")
citibike_201703.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727665 entries, 0 to 727664
Data columns (total 15 columns):
Trip Duration              727665 non-null int64
Start Time                 727665 non-null object
Stop Time                  727665 non-null object
Start Station ID           727665 non-null int64
Start Station Name         727665 non-null object
Start Station Latitude     727665 non-null float64
Start Station Longitude    727665 non-null float64
End Station ID             727665 non-null int64
End Station Name           727665 non-null object
End Station Latitude       727665 non-null float64
End Station Longitude      727665 non-null float64
Bike ID                    727665 non-null int64
User Type                  722529 non-null object
Birth Year                 694819 non-null float64
Gender                     727665 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 83.3+ MB

In [17]:
citibike_201703 = citibike_201703.rename(columns={'Trip Duration':'tripduration',
                                'Start Time':'starttime',
                                'Stop Time':'stoptime',
                                'Bike ID':'bikeid',
                                'User Type':'usertype'
                               })

citibike_201703["Birth Year"] = citibike_201703["Birth Year"].fillna(0)
citibike_201703["Birth Year"] = citibike_201703["Birth Year"].astype(int).astype(str)
citibike_201703["Birth Year"] =citibike_201703["Birth Year"].replace('0', np.nan)
citibike_201703.columns = citibike_201703.columns.str.lower()
citibike_201703.info()

# Append renamed DataFrame to list
fixed_list.append(citibike_201703)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727665 entries, 0 to 727664
Data columns (total 15 columns):
tripduration               727665 non-null int64
starttime                  727665 non-null object
stoptime                   727665 non-null object
start station id           727665 non-null int64
start station name         727665 non-null object
start station latitude     727665 non-null float64
start station longitude    727665 non-null float64
end station id             727665 non-null int64
end station name           727665 non-null object
end station latitude       727665 non-null float64
end station longitude      727665 non-null float64
bikeid                     727665 non-null int64
usertype                   722529 non-null object
birth year                 694819 non-null object
gender                     727665 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 83.3+ MB

In [18]:
citibike_201610.to_csv('201610-citibike-tripdata_fixed.csv')
citibike_201611.to_csv('201611-citibike-tripdata_fixed.csv')
citibike_201612.to_csv('201612-citibike-tripdata_fixed.csv')
citibike_201701.to_csv('201701-citibike-tripdata_fixed.csv')
citibike_201702.to_csv('201702-citibike-tripdata_fixed.csv')
citibike_201703.to_csv('201703-citibike-tripdata_fixed.csv')

In [19]:
# for i in fixed_list:
#     fixed_list[i].to_csv(fixed_list[i] + '-citibike-tripdata_fixed.csv')